:root {
    --cor-texto: black;
}


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#141e30, #243b55);
}

a {
    color: var(--cor-texto);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navegacao {
    list-style: none;  
    display: flex;
}

.navegacao-link {
    margin-left: 2rem;
}

.cabecalho {
    background-color: azure;
    border-radius: 0 0 10px 10px;
    box-shadow: gray;
    /*box-shadow: var(--sombra);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    margin-bottom: 2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}