.caixa-img {
    margin: 0 auto 0 auto;
    width: 80vw;
    height: 80vh;
    /*border: 5px white solid;*/
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

